@font-face {
  font-family: 'FranklinGothic-Book';
  src: url('../fonts/FranklinGothic-Book.woff') format('woff'),
       url('../fonts/FranklinGothic-Book.ttf') format('truetype'),
       url('../fonts/FranklinGothic-Book.svg#FranklinGothic-Book') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'franklin-gothic-book';
  src: url('../fonts/franklin-gothic-book.eot');
  src: url('../fonts/franklin-gothic-book.woff2') format('woff2'),
       url('../fonts/franklin-gothic-book.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'HelveticaLight';
    src: url('../fonts/HelveticaLight.eot');
    src: url('../fonts/HelveticaLight.eot') format('embedded-opentype'),
         url('../fonts/HelveticaLight.woff2') format('woff2'),
         url('../fonts/HelveticaLight.woff') format('woff'),
         url('../fonts/HelveticaLight.ttf') format('truetype'),
         url('../fonts/HelveticaLight.svg#HelveticaLight') format('svg');
}

body{
	font-family:"franklin-gothic-book",Helvetica,Arial,sans-serif;
	color:#1d1d1d;
	font-size:16px;
}
h3{
	font-family:HelveticaLight, Arial, sans-serif;
	color:#1d1d1d;
}

/*=================
Top Header
=================== */
#top-header{
	padding:5px 0;
}
#top-header ul{
	margin:0;
	padding:0;
	list-style:none;
}
#top-header ul li {
	float:left;
	display:inline-block;
}
#top-header ul li a{
	color:#636363;
}
#top-header ul li a i{
	margin-right:10px;
}
#top-header a:hover,
#top-header a:focus{
	color:#f44336;
	text-decoration:none;
}
#top-header ul.site-info li{
	padding-right:15px;
}
#top-header ul.user-access{
	float:right;
}
#top-header ul.user-access li{
	padding-left:15px;
}
#navbar{
	border:none;
	padding:0;
}
#navbar nav{
	float:right;
}
#navbar .navbar-collapse{
	padding-left:0;
	padding-right:0;
}
#navbar .navbar-nav li a{
	text-transform:uppercase;
	font-family:HelveticaLight, Arial, sans-serif;
	border-bottom:2px solid #646464;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus{
	background:none;
	color:#f44336;
	border-bottom:2px solid #f44336 !important;
}


h3.user-name{
	font-size:30px;
}
.user-address{
	color: #333333;
    font-size: 14px;
    letter-spacing: 1px;
    margin-bottom: 10px;
}
.image-section{
	background: #f1f1f1;
    padding: 10px;
	border-bottom:5px solid #ccc;
}
.image-section img{
	width:100%;
	height:auto;
}
.contact-section {
    position: relative;
}
.contact-section #block-formblock-contact-site {
    background: #fff none repeat scroll 0 0;
    margin: 50px 117px 10px 10px;
    position: absolute;
    right: 0;
    top: 0;
    width: 570px;
	border-top:5px solid #f44336;
}
#contact-site-form .form-control{
	border-radius:0;

}
#contact-site-form .form-type-textfield {
    width: 45%;
	display:inline-block;
}
#contact-site-form label{ display:none;}
.contact-section h2.block-title{ text-align:center;}
.contact-section .btn.btn-default.form-submit {
    display: block;
    margin: 15px auto;
    padding: 15px 20px;
	background:#f44336;
	color:#fff;
	font-size:16px;
	font-weight:800;
	text-transform:uppercase;
	font-family: 'franklin-gothic-book';
}
.footer-section {
    padding: 90px 0;
}
.footer-section .block-title{ text-transform:uppercase; font-weight:normal; font-size:21px; position:relative; padding-bottom:24px;margin-bottom:34px;}
.footer-section .block-title::after {
    background: #e74c3c;
    bottom: 0;
    content: "";
    height: 6px;
    left: 0;
    padding-top: 5px;
    position: absolute;
    width: 33px;
	
}
.footer-section .view-content .field-content  p { line-height:44px;}
.footer-section-forth #block-newsletter-newsletter-subscribe > form .form-control{ border-radius:0;}
.footer{ background:#dfdfdf; width:100%; padding:30px 0 15px; margin:0;}
.footer .region-footer .user-access > li {display: inline-block;margin-left: 8px;}
.footer .region-footer .user-access a {
    background: #4c4a4a none repeat scroll 0 0;
    border-radius: 50%;
    color: #fff;
    display: block;
    height: 35px;
    padding-top: 7px;
    text-align: center;
    width: 35px;
	font-size:16px;
}
.footer-section .region-footer-second .nav li  a{ color:#000;}
#newsletter-subscribe-form #subscribe .btn.btn-default.form-submit {
    border: 1px solid;
    margin-top: 30px;
    padding: 10px 32px;
    width: 100%;
}
.main-container .region-content #block-views-testiamonials-block h2.block-title {
    text-align: center;
    text-transform: uppercase;
}
.main-container #block-views-testiamonials-block {
    padding: 85px 0 30px;
}
